@mixin hovered {
  transition: backdrop-filter 200ms ease, box-shadow 150ms ease-out,
    transform 150ms ease-out, width 150ms ease, margin 150ms ease-out,
    background-color 250ms ease-out, color 250ms ease-out,
    border-radius 300ms ease;
  background-image: none;
  background-color: rgba(208, 211, 255, 0.145);
  border-radius: 20px 5px 5px 20px;
  box-shadow: 0 0 15px black inset, 0 0 10px rgb(145, 145, 255);

  .chats__chat__status {
    transition-duration: 250ms;
  }

  .chats__chat__time {
    color: white;
    transform: translate(26px, 50%) scale(1.3);
    opacity: 1;
  }

  .chats__chat__date {
    transform: translate(-33px, 50%);
    opacity: 1;
  }
}

@mixin selected {
  @include hovered();

  box-shadow: none;
  color: black;
  margin-left: 10px;
  margin-right: -10px;

  transition: box-shadow 150ms ease-out, transform 150ms ease-out,
    width 150ms ease, margin 150ms 800ms ease-out, background-color 100ms ease-out,
    color 250ms ease-out, border-radius 300ms ease;

  .chats__chat__date {
    transform: translate(-33px, 50%);
    color: rgba(0, 0, 0, 0.637);
    opacity: 1;
  }
  .chats__chat__status {
    transition-duration: 0.15s;
    box-shadow: 0 0 10px 5px #1100ff99;
  }
  .chats__chat__you {
    background-color: #00000055;
  }
  .chats__chat__new {
    background-color: $cl-accent;
  }
}
