@import './colors.scss';

$gel-shadows: 4px 4px 10px #ffffff50 inset, -4px -4px 10px #2200ff55 inset;

@mixin gel($size, $pattern: false) {
  @if $pattern {
    backdrop-filter: blur(8px);
    background-size: $size;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2352f' fill-opacity='0.53' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }

  background-color: $blue-gel;
  backdrop-filter: blur(8px);
  box-shadow: $gel-shadows;
  border-radius: 5px;
}